{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": false,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "importOrder": [
    "^assets/(.*)$",
    "^components/(.*)$",
    "^constants/(.*)$",
    "^hooks/(.*)$",
    "^i18n/(.*)$",
    "^libs/(.*)$",
    "^navigation/(.*)$",
    "^screens/(.*)$",
    "^stores/(.*)$",
    "^styles/(.*)$",
    "^types/(.*)$",
    "^utils/(.*)$",

    "^assets$",
    "^components$",
    "^constants$",
    "^hooks$",
    "^i18n$",
    "^libs$",
    "^navigation$",
    "^screens$",
    "^stores$",
    "^styles$",
    "^types$",
    "^utils$",
    "^~$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
